h1,h2{
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}


h1 {
  padding: 20px;
}

img{
  margin-left: 15px;
}


button#add,#edit,#group{
  font-weight: bold;
}

label.form-label {
  font-weight: bolder;
}

div.col-6{
  margin-left: 10px;
}

div#list_widgets{
  border: 3px solid #00CED1;
  border-radius: 5px;
  margin-left: 10px;
  padding-left: 10px;
  margin-right: 10px;
  padding-right: 10px;

}


div#label_widget_id{
  margin-top: 15px;
  margin-bottom: -15px;
  margin-left: 10px;
}

#labels{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  background-color: #DCDCDC;
  border-radius: 5px;
  border: 3px solid #DCDCDC;"
}


#labels:hover{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
  background-color: #DCDCDC;
  border-radius: 5px;
  border: 3px solid #C0C0C0;"
}


.btn-group{
  margin: 10px;
}

form.edit_form{
  display: none;
}
