h1,h2{
  text-align: center;
}


h1 {
  padding: 20px;
}

img{
  margin-left: 15px;
}


button#add,#edit,#group{
  font-weight: bold;
}

label.form-label {
  font-weight: bolder;
}

div.col-6{
  margin-left: 10px;
}

div#list_widgets{
  border: 3px solid #00CED1;
  border-radius: 5px;
  margin-left: 15px;
  padding-left: 20px;
}

.btn-group{
  margin: 10px;
}

form.edit_form{
  display: none;
}
